/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(#009688 20%, #d8dbd5 0, #d8dbd5);
  font-family: "PT Sans", sans-serif;
}
/* utils */
.profile-image {
  height: 75px;
  border-radius: 50%;
}

.top-contact {
  background-color: #eaeaea;
}

#chats-bar .fas {
  color: #b1b1b1;
  margin: 0 5px;
  cursor: pointer;
}

/* main */

main {
  padding: 20px 200px;
}

#chats-bar {
  width: 40%;
}

#user-image {
  height: 50px;
}

#desktop-notify-alert {
  background-color: #8edafc;
}

.bell {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background: white;
}

#chats-bar .fa-bell-slash {
  color: #8edafc;
}

#desktop-notify-alert a {
  color: #637d8b;
}

#desktop-notify-alert a:hover {
  color: #3f4f58;
}

#chat-filter {
  background-color: #fafafa;
}

#chat-filter input:focus {
  color: none;
  background-color: none;
  border-color: #ced4da;
  outline: none;
  box-shadow: none;
}
