/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(#009688 20%, #d8dbd5 0, #d8dbd5);
  font-family: "PT Sans", sans-serif;
}
/* utils */
.profile-image {
  height: 75px;
  border-radius: 50%;
}

.bg-gray {
  background-color: #eaeaea;
}

#chats-bar .fas,
#chat .chat-user .fas {
  color: #b1b1b1;
  margin: 0 5px;
  cursor: pointer;
}

.user-message {
  justify-content: flex-end;
}

[class*="message"] div {
  border-radius: 10px;
  min-width: 250px;
}

.user-message div {
  background-color: #d5f9ba;
}

.friend-message div {
  background: #fff;
}

.date {
  color: #b9c1ba;
  font-size: 10px;
  text-align: right;
}

/* main */

main {
  padding: 20px 200px;
}

#chats-bar {
  width: 40%;
}

#user-image,
#chat .chat-user img {
  height: 50px;
}

#desktop-notify-alert {
  background-color: #8edafc;
}

.bell {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background: white;
}

#chats-bar .fa-bell-slash {
  color: #8edafc;
}

#desktop-notify-alert a {
  color: #637d8b;
}

#desktop-notify-alert a:hover {
  color: #3f4f58;
}

#chat-filter {
  background-color: #fafafa;
}

#chat-filter input:focus {
  color: none;
  background-color: none;
  border-color: #ced4da;
  outline: none;
  box-shadow: none;
}

#user-chats {
  overflow-y: scroll;
  cursor: pointer;
}

#user-chats > div:hover {
  background-color: rgb(233, 233, 233);
}

#chat-screen {
  background-image: url("../img/mine.jpg");
  overflow-y: auto;
}

#send-message .fas {
  color: gray;
}

#message-to-send {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}
